*{margin: 0% !important;
padding: 0% !important;
box-sizing: border-box !important;
}
.logo{
    width: 150px;
    height: 30px;
}
.header-right{
    display: flex;
}
.main-section{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    
}
.main-section-leftsection{
   
    box-shadow: 8px 9px 53px -25px;
    background-color: rgb(255, 255, 255);
    
}

.btn{
    width: 180px;
    border-radius: 0%;
}
.main-section-rightsection{
    min-height: 550px;
    width: 450px;
   
    
    
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 9px 53px -25px;
}
.form-control{
    width: 50px;
}

.labels{
    font-size: 12px;
    font-weight: bold;
}
.linkTo-join{
    text-decoration: none;
    white-space: nowrap;
    margin: auto;
    
   
}
.linkPassword a{
    font-size: 10px;
    text-decoration: none;
    margin-left: auto;

}
.linkPassword{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.headone{
    font-size: 20px;

}
.vertical-line{
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn1{
    
    box-shadow: 10px 8px 33px -12px;
    border: none;
    border-radius: 20px;
    height: 40px;
    margin-top: 20px;

}
.btn-primary1{
    background-color: rgb(69, 184, 69);
    border-radius: 20px;
    border: 0ch;
    color: white;
    max-width: 100px;
}
.btn-login1{
    background: transparent;
    border-radius: 20px;
    width: 90px;
    
}

.nav-link:hover{
    border-bottom: 3px solid rgb(64, 231, 64);
    
}
.navbar{
    height: 80px;
}
.paraPadding{
    padding-bottom: 30px;
}
.btn-primary1{
    width: 80px;
}
.G-logo{
    width: 15px;
    height: 15px;
    padding-right: 20px;
}
::placeholder{
    padding-left: 10px;
    font-size: 15px;
    
}
.leftsection-parafirst{
    font-size: 25px;
   
}
#btn-reg{
    width: 209px;
    height: 51px;
}